* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

body {
  background-color: #acacac;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  display: flex;
  background: #cacaca;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  transition: all 0.3s;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
}

.card:hover .img {
  height: 400px;
  scale: 110%;
}

.img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
  transition:
    height 0.3s,
    scale 0.6s;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.hero-name {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

.hero-real-name {
  color: #666;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.hero-movies {
  font-size: 0.85rem;
  margin-bottom: 15px;
  flex-grow: 1;
}

.hero-movies ul {
  padding-left: 20px;
  margin-top: 5px;
}

.status-alive {
  color: #2e7d32;
}

.status-dead {
  color: #c62828;
}
